// MQ trigger
// @import "compass/CSS3";
@import "colores";

@mixin small {
  @media only screen and (max-width: 766px) {
    @content;
  }
}
.full {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    max-width: 100% !important;
}

header {
    background-color: #e8e5e5;
    padding-bottom: 40px;

    @media only screen and (max-width: 40em) {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #menu_interior {
        padding-top: 30px;
        background-color: #e8e5e5;

        @media only screen and (max-width: 40em) {
            padding: 0px;
        }

        .top-bar {
            background-color: #e8e5e5;

            @media only screen and (max-width: 40em) {
                background-color: #e8e5e5;
            }

            .title-area {
                @media only screen and (min-width: 40.063em) and (max-width: 64em) {
                    width: 80px;
                }

                @media only screen and (min-width: 64.063em) and (max-width: 90em) {
                    width: 400px;
                }

                @media only screen and (max-width: 40em) {
                    background-color: #e8e5e5;
                }
            }

            /* Tamaño logo */
            .name h1 a,
            .name span a {
                color: #FFFFFF;
                display: block;
                font-weight: normal;
                padding: 2px;
                width: 40%;

                @media only screen and (min-width: 40.063em) and (max-width: 64em) {
                    width: 100%;
                }

                @media only screen and (max-width: 40em) {
                    width: 15%;
                }
            }

            /* Color icon-menu */
            .toggle-topbar a {
                color: #034a93;
            }

            /* Color icon */
            .toggle-topbar.menu-icon a span::after {
                content: "";
                display: block;
                height: 0;
                position: absolute;
                margin-top: -8px;
                top: 50%;
                right: 0.9375rem;
                box-shadow: 0 0 0 1px #034a93, 0 7px 0 1px #034a93, 0 14px 0 1px #034a93;
                width: 16px;
            }

            .top-bar-section {

                .activo {
                    color: #013589;
                }

                ul {

                    li,
                    a {
                        background-color: #e8e5e5;
                        font-family: 'Roboto', sans-serif;
                        font-size: 15px;
                        text-transform: uppercase;
                        text-align: center;
                        color: #6a6a6a;
                        padding: 3px 5px 3px 5px;

                        @media only screen and (max-width: 40em) {
                            color: #034a93;
                        }

                        @media only screen and (min-width: 40.063em) and (max-width: 64em) {
                            font-size: 13px;
                        }
                    }

                    li,
                    a:hover {
                        font-weight: bold;
                        font-size: 15px;
                    }


                    @media only screen and (max-width: 40em) {
                        background-color: #e8e5e5;
                    }
                }

            }
        }
    }

    #orbit {

        .orbit-prev,
        .orbit-next {
            z-index: 999 !important;
        }

        .fondo {
            position: absolute;
            width: 100%;
            z-index: 999;
            bottom: 0;
            margin-bottom: -5px;
        }


        .contenedor_orbit {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        .texto {
            position: absolute;
            width: 100%;
            z-index: 99;
            margin-top: -30px;

            @media only screen and (max-width: 40em) {
                margin-top: 0px;
            }

            .icon {
                object-fit: cover;
                height: 15%;
                width: 15%;

                @media only screen and (max-width: 40em) {
                    object-fit: cover;
                    height: 30%;
                    width: 30%;
                }
            }

            h1,
            h3 {
                line-height: 100%;
            }

            h1 {
                font-family: 'Roboto', sans-serif;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 60px;
                background: -webkit-linear-gradient(#ff8d18, #ffb716);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                @media only screen and (max-width: 40em) {
                    font-size: 30px;
                }


            }

            h3 {
                font-family: 'Roboto', sans-serif;
                text-transform: uppercase;
                font-weight: bold;
                color: #ffbf15;
            }
        }
    }
}


section {

    .titulo {
        h2 {
            color: #173f85;
            font-family: 'Roboto', sans-serif;
            text-transform: uppercase;
        }

        h5 {
            color: #ffc314;
            font-family: 'Roboto', sans-serif;
        }

    }

    .sub_titulo {
        h5 {
            color: #4f4f4f;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
        }
    }

    p,
    li {
        color: #4f4f4f;
    }

    #nosotros {
        background-image: url(img/fondo_nosotros.png);
        background-position: center;
        background-size: cover;
        padding: 90px 10px 80px 10px;

        @media only screen and (max-width: 40em) {
            padding: 50px 10px 40px 10px;
        }

        .texto {
            margin-top: 4em;

            p {
                margin-top: 25px;
                font-family: 'Roboto', sans-serif;
                color: #4f4f4f;

                @media only screen and (max-width: 40em) {
                    text-align: center;
                    margin-bottom: 2em;
                }
            }

            .button {
                border-radius: 40px;
                font-family: 'Roboto', sans-serif;
                text-transform: uppercase;
                background: rgba(255, 196, 20, 1);
                background: -moz-linear-gradient(left, rgba(255, 196, 20, 1) 0%, rgba(255, 129, 23, 1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 196, 20, 1)), color-stop(100%, rgba(255, 129, 23, 1)));
                background: -webkit-linear-gradient(left, rgba(255, 196, 20, 1) 0%, rgba(255, 129, 23, 1) 100%);
                background: -o-linear-gradient(left, rgba(255, 196, 20, 1) 0%, rgba(255, 129, 23, 1) 100%);
                background: -ms-linear-gradient(left, rgba(255, 196, 20, 1) 0%, rgba(255, 129, 23, 1) 100%);
                background: linear-gradient(to right, rgba(255, 196, 20, 1) 0%, rgba(255, 129, 23, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc414', endColorstr='#ff8117', GradientType=1);
            }

            .button:hover {
                transform: scale(1.08);
                transition: 0.3s;
            }
        }
    }

    #destinos {
        background-image: url(img/fondo_destinos.png);
        background-position: bottom;
        background-size: cover;
        padding: 50px 10px 50px 10px;

        .titulo {
            h2 {
                color: #173f85;
                font-family: 'Roboto', sans-serif;
                text-transform: uppercase;
            }
        }

        .contenedor_item {
            margin-top: 3em;

            .panel:hover {
                transform: scale(1.01);
                transition: 0.3s;
            }

            .panel {
                padding: 0;
                border-radius: 10px;
                overflow: inherit;
                border: none;
                background-color: #ffffff;

                .img_destino {

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 250px;
                        border-radius: 10px 10px 0px 0px;
                    }
                }

                .texto_destino {
                    padding: 20px;

                    .nombre {
                        color: #173f85;
                        font-family: 'Roboto', sans-serif;
                        font-weight: bold;
                        text-transform: uppercase;
                    }

                    h5 {
                        color: #434343;
                        font-family: 'Roboto', sans-serif;
                        text-transform: uppercase;
                        font-weight: bold;
                    }

                    .valor {
                        margin-top: 20px;
                        font-family: 'Roboto', sans-serif;
                        color: #ffb215;
                        margin-bottom: 10px;
                    }

                    .valor,
                    p {
                        line-height: 80%;
                    }

                    p {
                        margin-bottom: 0;
                        color: #92908e;
                        font-family: 'Roboto', sans-serif;
                        text-transform: uppercase;
                        font-size: 10px;
                    }
                }
            }
        }
    }

    #servicios {
        background-image: url(img/fondo_servicios.png);
        background-position: center;
        background-size: cover;
        padding: 55px 10px 55px 10px;

        .owl-carousel {
            margin-top: 5em;

            .item {
                .icon {
                    padding: 10px 70px 10px 70px;
                }

                .icon:hover {
                    transform: scale(1.08);
                    transition: 0.3s;
                }

                .text {
                    h4 {
                        ont-family: 'Roboto', sans-serif;
                        font-weight: bold;
                        color: #434343;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    #banner_informativo {
        background-image: url(img/fondo_informativo.png);
        background-position: center;
        background-size: cover;
        padding: 55px 10px 55px 10px;

        .horario {
            margin-top: 2em;

            h1,
            h4 {
                line-height: 90%;
                font-family: 'Roboto', sans-serif;
                font-weight: bold;
            }

            h4 {
                color: #ffb615;
                text-transform: uppercase;
                margin-bottom: 0;
            }

            h1 {
                color: white;
                font-weight: bold;
                text-transform: uppercase;
            }
        }

        .texto {

            h1,
            h4 {
                line-height: 90%;
                font-family: 'Roboto', sans-serif;
            }

            h1 {
                color: #ffb615;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 0;
            }

            h4 {
                color: white;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }

    #redes_sociales {
        padding: 60px 20px 60px 20px;

        .icono {
            object-fit: cover;
            height: 25%;
            width: 25%;
        }

        .icono:hover {
            transform: scale(1.08);
            transition: 0.3s;

        }

        .facebook,
        .instagram {
            margin-top: 1em;
        }

        .facebook {
            background-image: url(img/fondo_facebook.png);
            background-position: center;
            background-size: cover;
            border-radius: 15px;
            padding: 45px 35px 45px 35px;
            overflow: inherit;
            position: relative;
        }

        .instagram {
            background-image: url(img/fondo_instagram.png);
            background-position: center;
            background-size: cover;
            border-radius: 15px;
            padding: 45px 35px 45px 35px;
            overflow: inherit;
            position: relative;
        }
    }
}


footer {
    padding-top: 20px;
    background-color: #313131;

    ul {

        .empresa {
            font-size: 25px;
            font-weight: bold;
            text-transform: uppercase;
        }

        li {
            list-style: none;
            color: white;
            font-family: 'Roboto', sans-serif;

        }
    }

    .croop {
        margin-top: 4em;
    }
}

#interior {
    margin-top: 3em;
    margin-bottom: 3em;

    .texto {
        margin-top: 3em;
    }

    .politicas {
        .panel {
            background-color: white;
            border-radius: 10px;
        }
    }
}
