// MQ trigger
// @import "compass/CSS3";
@import "colores";

@mixin small {
  @media only screen and (max-width: 766px) {
    @content;
  }
}
.full {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    max-width: 100% !important;
}
